<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>pandawalk1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {129, 228}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{129, 228}</string>
			<key>spriteSourceSize</key>
			<string>{137, 230}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 2}, {129, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pandawalk2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {135, 228}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{135, 228}</string>
			<key>spriteSourceSize</key>
			<string>{137, 230}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 2}, {135, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pandawalk3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 0}, {117, 230}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{117, 230}</string>
			<key>spriteSourceSize</key>
			<string>{137, 230}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {117, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>