<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>aid.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 38}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{72, 38}</string>
			<key>spriteSourceSize</key>
			<string>{80, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 311}, {72, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>angle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{35, 45}</string>
			<key>spriteSourceSize</key>
			<string>{35, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 351}, {35, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baby.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {35, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{35, 46}</string>
			<key>spriteSourceSize</key>
			<string>{35, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 319}, {35, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_cloud_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 38}</string>
			<key>spriteSourceSize</key>
			<string>{80, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{331, 2}, {80, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_cloud_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 42}</string>
			<key>spriteSourceSize</key>
			<string>{80, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{283, 173}, {80, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_cloud_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 44}</string>
			<key>spriteSourceSize</key>
			<string>{80, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 265}, {80, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrot.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 75}</string>
			<key>spriteSourceSize</key>
			<string>{50, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 173}, {50, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {148, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{148, 76}</string>
			<key>spriteSourceSize</key>
			<string>{148, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 102}, {148, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 42}</string>
			<key>spriteSourceSize</key>
			<string>{62, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 298}, {62, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {105, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{105, 60}</string>
			<key>spriteSourceSize</key>
			<string>{105, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 180}, {105, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {175, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{175, 98}</string>
			<key>spriteSourceSize</key>
			<string>{175, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {175, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>coin.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {16, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{16, 18}</string>
			<key>spriteSourceSize</key>
			<string>{20, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 102}, {16, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>missle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 33}</string>
			<key>spriteSourceSize</key>
			<string>{100, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 242}, {100, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nothing.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1, 1}</string>
			<key>spriteSourceSize</key>
			<string>{1, 1}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 122}, {1, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>orange_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {80, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -8}</string>
			<key>spriteSize</key>
			<string>{80, 72}</string>
			<key>spriteSourceSize</key>
			<string>{80, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 277}, {80, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>orange_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 55}</string>
			<key>spriteSourceSize</key>
			<string>{50, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{331, 42}, {50, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>panda_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {38, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{38, 42}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 242}, {38, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>panda_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {38, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{38, 42}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 286}, {38, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plane1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 23}</string>
			<key>spriteSourceSize</key>
			<string>{50, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{283, 217}, {50, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plane2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 23}</string>
			<key>spriteSourceSize</key>
			<string>{50, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{331, 147}, {50, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plane3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 26}</string>
			<key>spriteSourceSize</key>
			<string>{50, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 381}, {50, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plane4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 28}</string>
			<key>spriteSourceSize</key>
			<string>{50, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 351}, {50, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>potato_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 67}</string>
			<key>spriteSourceSize</key>
			<string>{76, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 250}, {76, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>potato_up.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 342}, {50, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pumpkin 03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 54}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{46, 54}</string>
			<key>spriteSourceSize</key>
			<string>{50, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 242}, {46, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pumpkin.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 46}</string>
			<key>spriteSourceSize</key>
			<string>{50, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{331, 99}, {50, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pumpkin01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {77, 90}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{77, 90}</string>
			<key>spriteSourceSize</key>
			<string>{85, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 173}, {77, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pumpkin02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 43}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{38, 43}</string>
			<key>spriteSourceSize</key>
			<string>{40, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 180}, {38, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wind.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 169}</string>
			<key>spriteSourceSize</key>
			<string>{150, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{179, 2}, {150, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>