<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>background_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{35,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,63}}</string>
                <key>sourceSize</key>
                <string>{35,63}</string>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1774},{95,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,126}}</string>
                <key>sourceSize</key>
                <string>{95,126}</string>
            </dict>
            <key>hero_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1530},{164,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,242}}</string>
                <key>sourceSize</key>
                <string>{164,242}</string>
            </dict>
            <key>hero_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1774},{164,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,242}}</string>
                <key>sourceSize</key>
                <string>{164,242}</string>
            </dict>
            <key>plane2_bao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1426},{97,126}}</string>
                <key>offset</key>
                <string>{-0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{97,126}}</string>
                <key>sourceSize</key>
                <string>{152,183}</string>
            </dict>
            <key>plane2_bao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1286},{106,126}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{106,126}}</string>
                <key>sourceSize</key>
                <string>{152,183}</string>
            </dict>
            <key>plane2_bao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1414},{113,126}}</string>
                <key>offset</key>
                <string>{-0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,29},{113,126}}</string>
                <key>sourceSize</key>
                <string>{152,183}</string>
            </dict>
            <key>plane2_bao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1286},{117,138}}</string>
                <key>offset</key>
                <string>{-0.5,-6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{117,138}}</string>
                <key>sourceSize</key>
                <string>{152,183}</string>
            </dict>
            <key>plane2_bao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1286},{113,126}}</string>
                <key>offset</key>
                <string>{-0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{113,126}}</string>
                <key>sourceSize</key>
                <string>{152,183}</string>
            </dict>
            <key>plane_bao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1286},{164,242}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{164,242}}</string>
                <key>sourceSize</key>
                <string>{192,242}</string>
            </dict>
            <key>plane_bao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1530},{164,242}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{164,242}}</string>
                <key>sourceSize</key>
                <string>{192,242}</string>
            </dict>
            <key>plane_bao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1774},{170,242}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{170,242}}</string>
                <key>sourceSize</key>
                <string>{192,242}</string>
            </dict>
            <key>plane_bao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{177,242}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{177,242}}</string>
                <key>sourceSize</key>
                <string>{192,242}</string>
            </dict>
            <key>plane_bao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{170,242}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{170,242}}</string>
                <key>sourceSize</key>
                <string>{192,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameArts-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad6095035459da8e1675914eec1c4999$</string>
            <key>textureFileName</key>
            <string>gameArts-hd.png</string>
        </dict>
    </dict>
</plist>
