<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>180</real>
	<key>angleVariance</key>
	<real>0</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>1</real>
	<key>finishColorGreen</key>
	<real>1</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<integer>16</integer>
	<key>finishParticleSizeVariance</key>
	<real>0</real>
	<key>gravityx</key>
	<real>0</real>
	<key>gravityy</key>
	<real>0</real>
	<key>maxParticles</key>
	<real>10</real>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<integer>1</integer>
	<key>particleLifespanVariance</key>
	<real>0</real>
	<key>radialAcceleration</key>
	<integer>-20</integer>
	<key>radialAccelVariance</key>
	<real>0</real>
	<key>rotatePerSecond</key>
	<integer>3</integer>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<real>0</real>
	<key>rotationEndVariance</key>
	<real>0</real>
	<key>rotationStart</key>
	<real>0</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>0</real>
	<key>sourcePositionVariancey</key>
	<integer>160</integer>
	<key>sourcePositionx</key>
	<integer>320</integer>
	<key>sourcePositiony</key>
	<integer>160</integer>
	<key>speed</key>
	<integer>100</integer>
	<key>speedVariance</key>
	<integer>0</integer>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>1</real>
	<key>startColorGreen</key>
	<real>1</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>0</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<integer>5</integer>
	<key>startParticleSizeVariance</key>
	<real>0</real>
	<key>tangentialAcceleration</key>
	<real>0</real>
	<key>tangentialAccelVariance</key>
	<real>0</real>
	<key>textureFileName</key>
	<string>star2.png</string>
	<key>textureImageData</key>
	<string>H4sIAAAAAAAAAwG4Akf9iVBORw0KGgoAAAANSUhEUgAAADQAAAAyCAYAAAATIfj2AAACf0lEQVRoBe2X7ZGbMBiE7WvA6YDrgHTAdeASyFWQEkgHpAOSCiiBXAVcBy4hdxU4z85ImTGDkQUS6Aea2RHwfu2+EsI+HPaxd2DvwCoduF6vp1UKLSzy5BH/DVGZh3/6rghq02fpwRBBBag8QtJ31SqBPH2mDzJEzAn0mh8MSd8NMWdQp8/UgyGCtPUKj5DgrmpssKQk22zrqZGgBmE/IyRcdetRrwDaGWWwlRkmIrk6FfXUI38GJES14h9GFInybRJ5I6Jjjtq0m4UyhYOKImcJes03xRw3Pr/l7qY6Ho+fGD98i48lJEcOWmzP4IXcv8f8VnkGkQvw6qglRpy2V2UQ/z2xhadmyJRAw0uU/EEFsqn8m9ggdQEaDbjbadlACTpQbEL2kaKQK4EdFy7+rxbXEnEGDfgLOnBX9CP1ovuIIBBZ12iikwlVACWtQ000MUGO7ZFGvI88s4/+cBS/2pvQcyxBzxNEf0zY0jOx1XLHdot6ogVdIYToxPrlaPMXh32ROaggmPwEXx2MXhz2NMysTmO2mo5sXRfgZOaG2Y5LGownWMC0AhKiefRDyXO9Wz3QOE+k29YEuRK0IHMxwecEJKpz+W5ih1gNvLqNvxUV9bTzaoghVWn2CjTOJr6eExs8BjI5aOeKsYSIz0Bp7zeZRQBom81amSFp8lQgHz5f5d4Ub0IWI6fep/UPCIo2IMr2UF6wzvtEIXVQ78s55MoMc5G/A3G3HgUkpoleCHWqAfqh0GD3JJeYWnOwpI5E1KrAd4fbPDOJi3mR86OoqSb2mudnSSxSjQT1Elqh/z4s4XLgr/mbEiAqW5QotWAExXmXUhO689k7sHcgfgf+AZt/goWMJqFOAAAAAElFTkSuQmCCJqozi7gCAAA=</string>
</dict>
</plist>
