<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>background_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,768},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>hero_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,892},{82,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,121}}</string>
                <key>sourceSize</key>
                <string>{82,121}</string>
            </dict>
            <key>hero_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,892},{82,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,121}}</string>
                <key>sourceSize</key>
                <string>{82,121}</string>
            </dict>
            <key>plane2_bao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,841},{49,64}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{49,64}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>plane2_bao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,712},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{54,64}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>plane2_bao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,646},{57,64}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{57,64}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>plane2_bao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,769},{59,70}}</string>
                <key>offset</key>
                <string>{-0.5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{59,70}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>plane2_bao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,646},{57,64}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{57,64}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>plane_bao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,646},{83,121}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{83,121}}</string>
                <key>sourceSize</key>
                <string>{96,121}</string>
            </dict>
            <key>plane_bao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,769},{83,121}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{83,121}}</string>
                <key>sourceSize</key>
                <string>{96,121}</string>
            </dict>
            <key>plane_bao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{85,121}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{85,121}}</string>
                <key>sourceSize</key>
                <string>{96,121}</string>
            </dict>
            <key>plane_bao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{89,121}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{89,121}}</string>
                <key>sourceSize</key>
                <string>{96,121}</string>
            </dict>
            <key>plane_bao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{85,121}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{85,121}}</string>
                <key>sourceSize</key>
                <string>{96,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameArts.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8daf961b55ef5dade69af81619204024$</string>
            <key>textureFileName</key>
            <string>gameArts.png</string>
        </dict>
    </dict>
</plist>
