<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>RetroCoin</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.4688,0.5312 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>0.1</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,15.000 }</string>	
								<string>{ -11.000,8.000 }</string>	
								<string>{ -10.000,-13.000 }</string>	
								<string>{ 1.000,-17.000 }</string>	
								<string>{ 12.000,-12.000 }</string>	
								<string>{ 13.000,8.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Player1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5312,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>5</real>
                        <key>friction</key> <real>2.4</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -14.000,-16.000 }</string>	
								<string>{ 12.000,-16.000 }</string>	
								<string>{ 10.000,16.000 }</string>	
								<string>{ -11.000,16.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

