<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SoundFX</key>
	<array>
		<string>levelwin.mp3</string>
		<string>dragon.mp3</string>
		<string>levelfailure.mp3</string>
		<string>slingshotstretch.mp3</string>
		<string>laugh03.mp3</string>
		<string>bird.mp3</string>
		<string>wood.mp3</string>
		<string>laugh02.mp3</string>
		<string>laugh01.mp3</string>
		<string>enemyGrunt.mp3</string>
		<string>bloop.mp3</string>
		<string>gong.mp3</string>
		<string>birds.mp3</string>
		<string>frogs.mp3</string>
		<string>whoosh.mp3</string>
		<string>drums.mp3</string>
		<string>pandlaugh.mp3</string>
		<string>youlose.wav</string>
		<string>youwin.wav</string>
		<string>about.mp3</string>
		<string>birdstart.mp3</string>
		<string>impact.mp3</string>
		<string>start_game.mp3</string>
		<string>break.mp3</string>
		<string>break1.mp3</string>
		<string>break2.mp3</string>
		<string>break3.mp3</string>
	</array>
	<key>Images</key>
	<array>
		<string>button_push.png</string>
		<string>100points-hd.png</string>
		<string>100points.png</string>
		<string>500points-hd.png</string>
		<string>500points.png</string>
		<string>1000points-hd.png</string>
		<string>1000points.png</string>
		<string>5000points-hd.png</string>
		<string>5000points.png</string>
		<string>10000points-hd.png</string>
		<string>10000points.png</string>
		<string>background_clouds-hd.png</string>
		<string>background_clouds.png</string>
		<string>background_hills-hd.png</string>
		<string>circle-hd.png</string>
		<string>circle.png</string>
		<string>explosion_0001-hd.png</string>
		<string>explosion_0001.png</string>
		<string>explosion_0002-hd.png</string>
		<string>explosion_0002.png</string>
		<string>explosion_0003-hd.png</string>
		<string>explosion_0003.png</string>
		<string>explosion_0004-hd.png</string>
		<string>explosion_0004.png</string>
		<string>explosion_0005-hd.png</string>
		<string>explosion_0005.png</string>
		<string>explosion_0006-hd.png</string>
		<string>explosion_0006.png</string>
		<string>explosion_0007-hd.png</string>
		<string>explosion_0007.png</string>
		<string>explosion_0008-hd.png</string>
		<string>explosion_0008.png</string>
		<string>explosion_0009-hd.png</string>
		<string>explosion_0009.png</string>
		<string>explosion_0010-hd.png</string>
		<string>explosion_0010.png</string>
		<string>explosion_0011-hd.png</string>
		<string>explosion_0011.png</string>
		<string>fire.png</string>
		<string>ground_plane-hd.png</string>
		<string>ground_plane.png</string>
		<string>puffs_0001-hd.png</string>
		<string>puffs_0001.png</string>
		<string>puffs_0002-hd.png</string>
		<string>puffs_0002.png</string>
		<string>puffs_0003-hd.png</string>
		<string>puffs_0003.png</string>
		<string>puffs_0004-hd.png</string>
		<string>puffs_0004.png</string>
		<string>puffs_0005-hd.png</string>
		<string>puffs_0005.png</string>
		<string>puffs_0006-hd.png</string>
		<string>puffs_0006.png</string>
		<string>puffs_0007-hd.png</string>
		<string>puffs_0007.png</string>
		<string>slingshot_front-hd.png</string>
		<string>slingshot_front.png</string>
		<string>strap-hd.png</string>
		<string>strap.png</string>
		<string>strapBack-hd.png</string>
		<string>strapBack.png</string>
		<string>strapEmpty-hd.png</string>
		<string>strapEmpty.png</string>
		<string>woodShape1_0001-hd.png</string>
		<string>woodShape1_0001.png</string>
		<string>woodShape1_0002-hd.png</string>
		<string>woodShape1_0002.png</string>
		<string>woodShape1_0003-hd.png</string>
		<string>woodShape1_0003.png</string>
		<string>woodShape1_0004-hd.png</string>
		<string>woodShape1_0004.png</string>
		<string>woodShape1_0005-hd.png</string>
		<string>woodShape1_0005.png</string>
		<string>woodShape1_0006-hd.png</string>
		<string>woodShape1_0006.png</string>
		<string>woodShape1_0007-hd.png</string>
		<string>woodShape1_0007.png</string>
		<string>woodShape1_0008-hd.png</string>
		<string>woodShape1_0008.png</string>
		<string>woodShape1_0009-hd.png</string>
		<string>woodShape1_0009.png</string>
		<string>woodShape1_0010-hd.png</string>
		<string>woodShape1_0010.png</string>
		<string>woodShape1-hd.png</string>
		<string>woodShape1.png</string>
		<string>woodShape2-hd.png</string>
		<string>woodShape2.png</string>
		<string>woodShape3-hd.png</string>
		<string>woodShape3.png</string>
		<string>woodShape4-hd.png</string>
		<string>woodShape4.png</string>
		<string>about-hd.png</string>
		<string>about.png</string>
		<string>back.png</string>
		<string>background_hills.png</string>
		<string>bg_about-hd.png</string>
		<string>bg_about.png</string>
		<string>bg_startgame-hd.png</string>
		<string>bg_startgame.png</string>
		<string>bluebrick-hd.png</string>
		<string>bluebrick.png</string>
		<string>box-hd.png</string>
		<string>box.png</string>
		<string>button_pause-hd.png</string>
		<string>button_pause.png</string>
		<string>Default-Landscape~ipad.png</string>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>dragon_break0001-hd.png</string>
		<string>dragon_break0001.png</string>
		<string>dragon_break0002-hd.png</string>
		<string>dragon_break0002.png</string>
		<string>dragon_break0003-hd.png</string>
		<string>dragon_break0003.png</string>
		<string>dragon_break0004-hd.png</string>
		<string>dragon_break0004.png</string>
		<string>dragon_break0005-hd.png</string>
		<string>dragon_break0005.png</string>
		<string>dragon_break0006-hd.png</string>
		<string>dragon_break0006.png</string>
		<string>dragon_break0007-hd.png</string>
		<string>dragon_break0007.png</string>
		<string>dragon_break0008-hd.png</string>
		<string>dragon_break0008.png</string>
		<string>dragon_break0009-hd.png</string>
		<string>dragon_break0009.png</string>
		<string>dragon_break0010-hd.png</string>
		<string>dragon_break0010.png</string>
		<string>dragon_damage1-hd.png</string>
		<string>dragon_damage1.png</string>
		<string>dragon_damage2-hd.png</string>
		<string>dragon_damage2.png</string>
		<string>dragon_damage3-hd.png</string>
		<string>dragon_damage3.png</string>
		<string>dragon-damage1-hd.png</string>
		<string>dragon-damage1.png</string>
		<string>dragon-hd.png</string>
		<string>dragon.png</string>
		<string>email-hd.png</string>
		<string>email.png</string>
		<string>glass_long-hd.png</string>
		<string>glass_long.png</string>
		<string>Icon-72.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>level_lock_iphone-hd.png</string>
		<string>level_lock_iphone.png</string>
		<string>levelbox2-hd.png</string>
		<string>levelbox2.png</string>
		<string>levelend1-hd.png</string>
		<string>levelend2-hd.png</string>
		<string>levelend2.png</string>
		<string>levelLocked-hd.png</string>
		<string>levelLocked-ipad.png</string>
		<string>levelLocked.png</string>
		<string>menu_background-hd.png</string>
		<string>menu_background-ipad.png</string>
		<string>menu_background.png</string>
		<string>musicoff-hd.png</string>
		<string>musicoff.png</string>
		<string>musicon-hd.png</string>
		<string>musicon.png</string>
		<string>panda_air-hd.png</string>
		<string>panda_air.png</string>
		<string>panda_standing.png</string>
		<string>pandaBlue_standing-hd.png</string>
		<string>pandaBlue_standing.png</string>
		<string>pandaGreen_standing-hd.png</string>
		<string>pandaGreen_standing.png</string>
		<string>pandaYellow_standing-hd.png</string>
		<string>pandaYellow_standing.png</string>
		<string>playbutton-hd.png</string>
		<string>playbutton.png</string>
		<string>sinablog-hd.png</string>
		<string>sinablog.png</string>
		<string>soundoff-hd.png</string>
		<string>soundoff.png</string>
		<string>soundon-hd.png</string>
		<string>soundon.png</string>
		<string>stone_largesquare-hd.png</string>
		<string>stone_largesquare.png</string>
		<string>stonePillar-hd.png</string>
		<string>stonePillar.png</string>
		<string>weibo-hd.png</string>
		<string>weibo.png</string>
		<string>wood_long-hd.png</string>
		<string>wood_long.png</string>
		<string>0Star-Normal-iPhone-hd.png</string>
		<string>0Star-Normal-iPhone.png</string>
		<string>1Star-Normal-iPhone-hd.png</string>
		<string>1Star-Normal-iPhone.png</string>
		<string>2Star-Normal-iPhone-hd.png</string>
		<string>2Star-Normal-iPhone.png</string>
		<string>3Star-Normal-iPhone-hd.png</string>
		<string>3Star-Normal-iPhone.png</string>
		<string>back-hd.png</string>
		<string>bg_about-ipad.png</string>
		<string>bg_levelresult-hd.png</string>
		<string>bg_levelresult-ipad.png</string>
		<string>bg_levelresult.png</string>
		<string>bg_pause-hd.png</string>
		<string>bg_pause.png</string>
		<string>bg_startgame-ipad.png</string>
		<string>button_menu-hd.png</string>
		<string>button_menu.png</string>
		<string>button_nextlevel-hd.png</string>
		<string>button_nextlevel.png</string>
		<string>button_panda-hd.png</string>
		<string>button_panda.png</string>
		<string>button_play-hd.png</string>
		<string>button_play.png</string>
		<string>button_replay-hd.png</string>
		<string>button_replay.png</string>
		<string>buttonnextlevel-hd.png</string>
		<string>buttonnextlevel.png</string>
		<string>buttonreplay-hd.png</string>
		<string>buttonreplay.png</string>
		<string>buttontomenu-hd.png</string>
		<string>buttontomenu.png</string>
		<string>Default-568h@2x.png</string>
		<string>iTunesArtwork.png</string>
		<string>level_bg_iphone-hd.png</string>
		<string>level_bg_iphone.png</string>
		<string>levelbox1-hd.png</string>
		<string>levelbox1-ipad.png</string>
		<string>levelbox1.png</string>
		<string>levelbox2-ipad.png</string>
		<string>levelend1.png</string>
		<string>mini1_bg_iphone-hd.png</string>
		<string>mini1_bg_iphone.png</string>
		<string>mini2_bg_iphone-hd.png</string>
		<string>mini2_bg_iphone.png</string>
		<string>mini3_bg_iphone-hd.png</string>
		<string>mini3_bg_iphone.png</string>
		<string>mini4_bg_iphone-hd.png</string>
		<string>mini4_bg_iphone.png</string>
		<string>mini5_bg_iphone-hd.png</string>
		<string>mini5_bg_iphone.png</string>
		<string>panda_standing-hd.png</string>
		<string>platform-hd.png</string>
		<string>platform.png</string>
	</array>
	<key>SpriteSheets</key>
	<array/>
	<key>Assets</key>
	<array/>
	<key>Music</key>
	<array>
		<string>bg_startgamescene.mp3</string>
		<string>gamewin.mp3</string>
		<string>fail.mp3</string>
	</array>
</dict>
</plist>
